// **** Card Styles **** //

img.activator {
  height: 400px !important;
  overflow: hidden !important;
}

div.card-content {
  height: 100px !important;
  padding: 16px !important;
  padding-right: 0 !important;
  padding-left: 24px !important;
}